[Unit]
Description=Maid daemon service

[Service]
ExecStart=/usr/bin/ruby /home/evgeniy/.gem/ruby/2.7.0/bin/maid daemon

[Install]
WantedBy=default.target

