# Custom PATH
export PATH="$PATH:/mnt/Data/Scripts"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$(ruby -e 'puts Gem.user_dir')/bin"

# npm to $PATH
export PATH="$PATH:$HOME/.npm/bin"
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" # This loads nvm

# Filmic blender path
export OCIO=$HOME/.config/blender/2.79/datafiles/colormanagement/config.ocio

# Wine prefixes
export W_PREFIXES=$HOME/.PlayOnLinux/wineprefix

# Variables
function _get_editor { echo $(which nvim) || echo $(which vim) || echo $(which vi) || echo $(which nano)}
function _get_terminal { echo $(which kitty) || echo $(which alacritty) || echo $(which tilix) || echo $(which urxvt) || echo $(which gnome-terminal) || echo $(which xterm)}
export DEF_TERM="$(_get_terminal)"
export SUDO_EDITOR="$(_get_editor)"
export VISUAL="$(_get_editor)"
export EDITOR="$(_get_editor)"
export GTK_IM_MODULE="xim"
export MON_PRIMARY=$(xrandr | grep -w "connected primary" | awk '{print $1}')
export MANPATH="/usr/local/man:$MANPATH"
export TERMINAL="$DEF_TERM"
export BROWSER="firefox"
export SERVER_IP="$(hostname -i | awk '{print $1}')"

# You may need to manually set your language environment
#export LANG=ru_RU.UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export FZF_DEFAULT_COMMAND='rg --files --follow --hidden'
export CYLONDEST="$HOME/tmp"
export TERM=xterm-256color

# NNN settings:
export NNN_PLUG='o:fzopen;p:mocplay;d:diffs;m:nmount;n:notes;v:imgviu;t:imgthumb;u:getplugs;i:-imgview;k:kdekonnect;d:-mediainfo'

# RipGrep settings path:
export RIPGREP_CONFIG_PATH="$HOME/.config/ripgreprc"

# Qt:
export QT_STYLE_OVERIDE="GTK+"
export QT_QPA_PLATFORMTHEME='gnome'

# Todo.txt pom action log path:

export POMODORO_LOG_FILE="/home/evgeniy/03_Drafts/01_tasks/pomodoro_log.txt"

# GPG
export GNUPGHOME="$HOME/.local/share/gnupg"
