#!/bin/sh

# Remove polybar-reload-log if strings > 60:
/mnt/Data/Scripts/polybar-clean-log.sh

# Launch some things on startx:
autorandr 2mon
xset r rate 500 33 &
light-locker &
# setxkbmap -layout us,ru 
setxkbmap -option 'grp:shifts_toggle,lv3:ralt_switch,misc:typo'
